@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

nav {
    background: darkslategray;
    padding: 20px 0px;
}

nav > ul {
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
}

nav > ul::after {
    content: "";
    display: table;
    clear: both;
}

nav > ul > li {
    float: right;
    margin: 0 20px;
}

nav > ul > li:last-child {
    float: left;
}

nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

nav > ul > li > a:hover {
    opacity: 0.85;
}
